# =============== #
# Unity generated #
# =============== #
/Temp/
/Library/
/Bin/
/run_Data/
run.exe
/Builds

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Assets/Scripts/Building script.meta
build info.txt
last ver.txt
*.txt